@model DateTimeChecker.Model.Date;
@{
	ViewBag.Title = "DateChecker";
}

<div class="center-box">
	<form asp-controller="Home" asp-action="CheckDay" method="get">

		<div class="form-field flex">
			<div class="w-25">
				<label asp-for="Day" class="form-label pt">Input Day</label>
			</div>
			<div class="flex-1">
				<input asp-for="Day" class="form-input" type="text" />
				<span asp-validation-for="Day" class="text-red"></span> <br>
				<span class="text-red">@ViewBag.DayError</span>
			</div>
		</div>

		<div class="form-field flex">
			<div class="w-25">
				<label asp-for="Month" class="form-label pt">Input month</label>
			</div>
			<div class="flex-1">
				<input asp-for="Month" class="form-input" type="text" />
				<span asp-validation-for="Month" class="text-red"></span> <br>
				<span class="text-red">@ViewBag.MonthError</span>
			</div>
		</div>

		<div class="form-field flex">
			<div class="w-25">
				<label asp-for="Year" class="form-label pt">Input Year</label>
			</div>
			<div class="flex-1">
				<input asp-for="Year" class="form-input" type="text" />
				<span asp-validation-for="Year" class="text-red"></span> <br>
				<span class="text-red">@ViewBag.YearError</span>
			</div>
		</div>

		<button class="button button-green-back">Check</button>
		<a href="/home" class="button button-blue-back">Clear</a>
	</form>



	
</div>